@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer base {

    /*these are the fonts that i used*/
    @font-face {
        font-family: "Ubuntu-Bold";
        font-style: normal;
        font-display: swap;
        src: url("assets/fonts/Ubuntu-Bold.ttf") format("truetype");
        font-weight: 700;
    }
    
    @font-face {
        font-family: "Ubuntu-Regular";
        font-style: normal;
        font-display: swap;
        src: url("assets/fonts/Ubuntu-Regular.ttf") format("truetype");
        font-weight: 400;
    }
    
    @font-face {
        font-family: "Ubuntu-Medium";
        font-style: normal;
        font-display: swap;
        src: url("assets/fonts/Ubuntu-Medium.ttf") format("truetype");
        font-weight: 500;
    }
    
    .ubuntu-regular {
        font-family: "Ubuntu", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .ubuntu-medium {
        font-family: "Ubuntu", serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .ubuntu-bold {
        font-family: "Ubuntu", serif;
        font-weight: 700;
        font-style: normal;
      }
}



